body,div,h1,form,fieldset,input{
			margin:0; 
			padding:0;
			border:0;
			outline:0;
			}
		html{
			height:100%;
		}		
		body{
			font-family: sans-serif;
		}
		#nav ul li{
			float:left;
			list-style-type:none;
			background-color:#262626;
			width:19%;
			padding: 0; 
			margin: 0;
			
		}
		#nav ul li a{
			line-height:30px;
			font-size:13px;
			display:block;
			text-decoration:none;
			color:white;
		}
		
		
		#contact{
			width:430px;
			margin:auto;
			padding:8%;
			color: white;		
		}
	
		h1{
			font-size:35px; 
			color: #66b3ff;  
			text-transform:uppercase;
			text-align:center;
			margin:0 100px 35px 0;
			text-shadow:0px 1px 0px #d6d6f5;
		}
		input{ 
			width:100%;
			height:35px;
			padding: 12px 20px;
			margin: 10px 0;
			box-sizing: border-box;
			}
		button{
			border-radius:5px;
			color: #66b3ff;
			font-size:18px;
		}
		.border{
			background-color:black;
			}
		
		#footer {
			margin-top: 50px;
			background-color: #f2f2f2;
			font-size:12px;	
			padding:20px;
			line-height:20px;
		
			}
		#footer ul li a{
			text-decoration:none;	
			color:#808080;
		}
		#footer ul li{
			list-style-type:none;
		}		
		#shop{
			margin-top:-15px;
			margin-left:30px;		
			}	
		#store{
			text-align: center;
		}
		#others{
			margin-right:60px;
			margin-top:-145px;
			}
		.copyright{
			text-align:center;
			font-size:11px;
			color: gray;	
			}	

		table {
			width: 100%;
			text-align: left;
			}

