	#nav ul li{
			float:left;
			list-style-type:none;
			background-color:#262626;
			width:25%;			
		}
	#nav ul li a{
			padding:16px;	
			line-height:30px;
			font-size:13px;
			display:block;
			text-decoration:none;
			color:white;
		}
	h1{
		padding:6%;
		font-size:25px; 
		color: #66b3ff; 
		text-align:center;	
		text-shadow:0px 1px 0px #d6d6f5;
		}
	p{
		color:white;		
		width: 50%;
		font-size: 18px;
		padding-left:42%;
		line-height:25px;
		}
	.video{
		position:relative;
		bottom:550px;
		}
	.border{
		background-color:black;
		height:800px;
		width:auto;
			}
	.border2{
		background-color:#f2f2f2;
		}
	img{
		margin-top:50px;
		margin-left:60px;
		display:inline-block;
		}
	body{
		font-family: sans-serif;
		}
	#footer {
		margin-top: 50px;
		background-color: #f2f2f2;
		font-size:12px;	
		padding:20px;
		line-height:20px;
		}
	#footer ul li a{
		text-decoration:none;	
		color:#808080;
	}
	#footer ul li{
		list-style-type:none;
	}		
	#shop{
		margin-top:-15px;
		margin-left:30px;		
		}	
	#store{
		margin-left:730px;
		margin-top:-15px;
	}
	#others{
		margin-right:60px;
		margin-top:-145px;
		}
	.copyright p{
			text-align:left;
			font-size:11px;
			color: gray;	
			}